# ============================================================
# Yusuf-Grondona IoT – Environment Variables
# ============================================================

# ---- MQTT ----
MQTT_BROKER=test.mosquitto.org
MQTT_PORT=1883
MQTT_TOPIC=yusuf/warehouse/raspberry
MQTT_CLIENT_ID=raspberry_pi_001

# ---- Capteur ----
DHT_SENSOR_TYPE=DHT22
DHT_PIN=4
WAREHOUSE_ID=Entrepôt_Sud
SENSOR_INTERVAL=30

# ---- API ----
API_URL=http://localhost:8000
